<div class="row">
  <div class="col-lg-6 col-lg-offset-3 well">
    <h3 class="text-center">ABOUT</h3>
    <hr>
    <h3>Info</h3>
    <p>
      Socializeer is a social networking app built using Ruby on Rails.  You can check the source on <a href="https://github.com/AgonIdrizi/socialize"><%= fa_icon 'github' %> Github</a>. Also take a look at the demo deployed to <a href="http://socializeer.herokuapp.com/">Heroku</a>.
    </p>
    <br>
    <h3>Features</h3>
    <p>
    Users can send friend requests
    Users can accept or decline friend requests
    Accept or decline of friend requests is done via ajax request
    Timeline is populated with posts of user friends 
    Users can post text/images
    Users can like/unlike a post(via ajax requests)
    Users can comment on a post
    Users can change their profile picture
    Storage of images is done with amazon s3 bucket
    </p>
  </div>
</div>