<div class= 'container-users'>
  <% @users.each do |user| %>
    <% if user == current_user %>
    <% else %>
  	<div class= 'user-show-thumb'>
      <%= image_tag(url_for(user.image.variant(resize: "50x50"))) if user.image.attached?%>
      <%= user.name %>
      <%= render partial: 'users/user_form', locals:{user: user} %>
    <% end %>
    </div>
  <% end %>
</div>
<div class='pagination'>
  <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
</div>
