<div id="user_form">
	<% if current_user.friends_relationship.find_by(user_id: @user.id).blank? && current_user.friend_requests_sent_relationship.find_by(accepter_id: @user.id).blank? %>
  		<%= render partial: 'users/add_friend',locals: {user:  @user} %><br>
  	<% end %>
    <% if  current_user.friend_requests_sent_relationship.find_by(accepter_id: @user.id).present? && current_user.friends_relationship.find_by(user_id: @user.id).blank? %>
      <%= render partial: 'users/requested' ,locals: {user:  @user} %>
    <% end %>
  	
     <% if current_user.friends_relationship.find_by(user_id: @user.id).present? %>
  		<%= render partial: 'users/remove_friend_add_friend_form',locals: {user:  @user} %>
  	  <% end %>
</div>