<div class='post-comments'>
<% comments.each do |comm| %></br>
  <% if comm.valid? %>
  <p><h5>Comment by: <%= link_to comm.user.name, user_path(comm.user.id) %></h5></br>
  <%= comm.body %>
  </p>
  <% else %>
  <% end %>
  <% #render partial: 'posts/sub_comments', locals:{comm: comm} %>
<% end %></br>
</div>