<div class= 'container-users'>
  <% @friends.each do |friend| %>
    <% if friend == current_user %>
    <% else %>
  	<div class= 'user-show-thumb'>
      <%= render partial: 'users/image_thumbnail', locals:{user: friend}%>
      <%= friend.name %>
      <%= render partial: 'users/user_form', locals:{user: friend} %>
    </div>
    <% end %>
  <% end %>
</div>
<div class='pagination'>
  <%= will_paginate @friends, renderer: BootstrapPagination::Rails %>
</div>
