<% post.comments.each do |comment| %></br>
  Created by:
  <%= comment.user %></br>
  <%= comment.body %>
  <% comment.comments.each do |sub_comment| %><br>
    <p>Sub comment:</p>
    <%= sub_comment.user %>
    <%= sub_comment.body %></br>
  <% end %>
<% end %></br>