<div class="container-post" >
  <%= render partial:'post_form',locals: {post: @post} %>
</div>
<div>
<h2><i class="fa fa-newspaper-o"></i>NEWSFEED</h2>
</div>
<% @feed.each do |friend| %>
  <% friend.posts.each do |post| %>
  <div class="container-post" >
    <%= render partial: 'shared/post', locals: {post: post,user: friend} %>
    
    <%= render partial: 'like_form',locals: {post: post} %>             
  
    <%= render partial: 'form_comment', locals: {post: post} %>
    
    
  </div>
  <% end %>
<% end %>