<li class="nav-item active dropdown mr-sm-2">
  <a  class="nav-link dropdown-toggle" 
      href="#" id="navbarDropdown" 
      role="button" 
      data-toggle="dropdown" 
      aria-haspopup="true" 
      aria-expanded="false">
    Account
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <%= link_to icon('fas', 'user-alt') + " Profile", 
                current_user, 
                class: "dropdown-item" %></br>
    <%= link_to icon('fas', 'user-friends') + " Friends", 
                friendships_path, 
                class: "dropdown-item" %></br>
    <%= link_to icon('fas', 'cog') + " Settings", 
                edit_user_registration_path(current_user),
                class: "dropdown-item" %></br>
    <div class="dropdown-divider"></div>
     <%= link_to icon('fas', 'sign-out-alt') + " Log out", 
          destroy_user_session_path , 
          method: :delete, 
          id: 'logout-button',
          class: "dropdown-item" %></br>
  </div>
</li>